@import '../variables.scss';

.footer {
  width: 100%;
  padding: 5px 0;
  box-sizing: border-box;
  font-size: 80%;
  // box-shadow: $shadow;
  border-top: solid 1px $primary;
  text-align: center;

  @media (max-width: $max-width) {
    width: 90%;
  }
}