@import '../variables.scss';

.header {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: solid 1px $primary;

  @media (max-width: $max-width + 50px) {
    width: 90%;
  }

  .nav {
    display: flex;

    &__list {
      width: 100%;
      padding: 11px 0;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      position: absolute;
      left: 0;
      top: 0;

      z-index: -1;
      opacity: 0;
      
      box-shadow: $shadow;
      transition: $animation;
      background: $background;

      @media (max-width: $second-breackpoint) {
        bottom: auto;
      }

      &_show {
        z-index: 1;
        opacity: 1;
      }
    }

    &__item {
      margin: 0 20px;
      transition: $animation;

      &:hover {
        transform: scale(1.2);
      }

      @media (max-width: $first-breackpoint) {
        margin: 0 10px;
      }

      @media (max-width: $second-breackpoint) {
        margin: 10px 40px;
      }

      @media (max-width: $third-breackpoint) {
        margin: 10px 60px;
      }
    }

    &__link {
      color: $primary;
      text-decoration: none;
    }

    &__badge {
      z-index: 2;
      cursor: pointer;
      transition: $animation;

      &_rotate {
        transform: rotate(180deg);
      }
    }
  }
}