$primary: #545454;
$shadow: 0 0 5px #545454;
$background: #e7e7e7;

$max-width: 1366px;

$first-breackpoint: 700px;
$second-breackpoint: 500px;
$third-breackpoint: 440px;

$animation: all 0.2s linear;

$margin-items-in-main: 30px;