@import '../../variables.scss';

.form {
  width: 100%;

  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 15px;
    padding: 5px 10px;

    border: none;
    box-shadow: $shadow;
  }

  &__button {
    border: none;
    box-shadow: $shadow;
    cursor: pointer;
  }
}