@import '../../variables.scss';

.form {
  width: 100%;
  margin-bottom: $margin-items-in-main;

  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 15px;
    padding: 5px 10px;

    border: none;
    box-shadow: $shadow;
    outline: none;
  }

  &__button {
    border: none;
    box-shadow: $shadow;
    cursor: pointer;
    outline: none;
    color: $primary;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}