@import '../variables.scss';

.main {
  // width: 100%;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-bottom: $margin-items-in-main;
    font-size: 150%;
    font-weight: bold;
  }
}